
@{
    ViewData["Title"] = "Main";
}

<h2>Main</h2>
<div>

    <h2>문자출력</h2>
    @ViewData["text"]



    <div id='player'>
            <video width="352" height="288" src="~/media/hlstest.m3u8" controls autoplay >
            </video>
        </div>
</div>


